<h1>List of users</h1>

<form action="username">Username</form>
<input id="username" type="text" placeholder="Enter a username..." name= "username">
<Button>Add user</Button>


<table class="table" border ="1" >

<tr>
<th>ID</th>
<th>username</th>]
<th></th>
</tr>







</table>

